
# =============== FRONTEND ===============
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/next-env.d.ts



# =============== BACKEND ===============


# =============== UML ou outros ===============
# (adicione aqui se a pasta 'uml' gerar arquivos que quer ignorar)